<!DOCTYPE html>
<html>
<head>
  <title>Mink Meadow</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
 <link href='http://fonts.googleapis.com/css?family=Crafty+Girls' rel='stylesheet' type='text/css'>
</head>
<body>

<%= javascript_tag do %>
  $(document).ready(function() {
    adjustBgImage();
    fadeInText();
    })
    $(window).resize(function(){adjustBgImage();})

<% end %>

<div class="sessions_wrapper">
  <%= image_tag('bg-front.jpg', id: "login_img") %>
  <div id="login_form">
    <%= form_tag('/login', method: 'post') do %>
      <%= text_field_tag(:login, nil, placeholder: 'sign in here', autofocus: 'true') %>
      <%= submit_tag("Login", id: "login_button") %>
    <% end %>  
    <p id="login_notice"><%= notice %></p>
    <p id="login_alert"><%= alert %></p>
  </div>
  
  <div id="login_text">
    <div id="login_text1"> <h1 class="login_lrg">Kenny and Lauren's Wedding</h1> </div>
    <div id="login_text2"> 
      <h1 class="login_sm">in</h1>
      <h1 class="login_med">Wakefield, Rhode Island</h1>
    </div>
    <div id="login_text3"> 
      <h1 class="login_sm">on</h1>
      <h1 class="login_med">July 5th, 2014</h1>
    </div>
  </div>

</div>

</body>
</html>
