<div class="guests  admin">

<h2 class="ff_title fc_2">Manage Guests</h2>

<table class="admin_summary">
  <th colspan=2> Guest Stats </th>
  <tr>
    <td>Total Invitees</td>
    <td><%= @guests.count %></td>
  </tr>
  <tr>
    <td> RSVPers </td>
    <td> <%= @invitees.count %> </td>
  </tr>
  <tr>
    <td> Accounts </td>
    <td> <%= @registered.count %> </td>
  </tr>
  <tr>
    <td> Going! </td>
    <td> <%= @gos.count %> </td>
  </tr>
  <tr>
    <td> Not Going :( </td>
    <td> <%= @nos.count %> </td>
  </tr>  
  <tr>
    <td> Maybe.. </td>
    <td> <%= @maybes.count %> </td>
  </tr>  
</table>

<table class="admin_summary">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Status</th>
    <th>Groups</th>
    <th colspan=3></th>
  </tr>
  <% @invitees.each do |invitee| %>
    <% invitee.party.each do |guest| %>
      <tr class="<%= "plusone" if guest.plusone? %>">
        <td><%= guest.display_name %></td>
        <td><%= guest.email %></td>
        <td><%= guest.display_status %></td>
        <%#<td><%= truncate(guest.rsvp_info, length: 10) </td>%>
        <td><%= truncate(guest.groups.map{|x| x.name}.join(", "), length:25)%></td>
        <td><%= link_to('+1', new_guest_path(invitee_id: guest), class: "admin") if guest.invitee? %></td>
        <td><%= link_to('Edit', edit_guest_path(guest), class: "admin") %></td>
        <td><%= link_to('X', guest, method: :delete, confirm: 'Are you sure?', class: "admin") %></td>
      </tr>
    <% end %>
  <% end %>
</table>

</br>

<%= link_to 'New Invitee', new_guest_path, class: "button" %>

</div>