<div class="guests">

  <h2 class="ff_title fc_2">RSVP</h2>
  <div class="form">
  <%= form_tag '/guests/rsvp', method: 'put' do %>
    <% @party.each do |pm| %>     
      <span class="written"><%= "Will you meet us in the meadow?" if pm == @guest%></span>
      <div class="field">
        <%= pm.display_name if pm != @guest %>
      </div>
      <div class="field">
        <%= radio_button_tag "rsvp[#{pm.id}]", :going, checked=(pm.rsvp=="going")%> 
        <%=label_tag "Yes I'll meet you there"%>
      </div>
      <div class="field">
        <%= radio_button_tag "rsvp[#{pm.id}]", :not_going, checked=(pm.rsvp=="not_going")%> 
        <%=label_tag 'Not Going'%>
      </div>
      <div class="field">
        <%= radio_button_tag "rsvp[#{pm.id}]", :no_reply, checked=(pm.rsvp=="no_reply") %> 
        <%=label_tag 'No Reply'%>
      </div>
      </br>
    <% end %>
    <%= submit_tag("RSVP", id: "modify_button") %>

  <% end %>
  </div>
</div>