<h1>Guest stats</h1>
<table>
  <tr>
    <td>Total Invitees</td>
    <td><%= @guests.count %></td>
  </tr>

  <tr>
    <td> RSVPers </td>
    <td> <%= @invitees.count %> </td>
  </tr>
  <tr>
    <td> Accounts </td>
    <td> <%= @registered.count %> </td>
  </tr>

  <tr>
    <td> Going! </td>
    <td> <%= @gos.count %> </td>
  </tr>
  <tr>
    <td> Not Going :( </td>
    <td> <%= @nos.count %> </td>
  </tr>  
  <tr>
    <td> Maybe.. </td>
    <td> <%= @maybes.count %> </td>
  </tr>  

</table>

<h1>Listing guests</h1>

<table>
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Email</th>
    <th>Status</th>
    <th>SiteKey</th>
    <th>Invitee</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @invitees.each do |invitee| %>
    <% invitee.party.each do |guest| %>
      <tr class="<%= "plusone" if guest.plusone? %>">
        <td><%= guest.firstname %></td>
        <td><%= guest.lastname %></td>
        <td><%= guest.email %></td>
        <td><%= guest.status %></td>
        <td><%= guest.sitekey %></td>
        <td><%= guest.invitee.initials %></td>
        <td><%= link_to('+', new_guest_path(invitee_id: guest)) if guest.invitee? %></td>
        <td><%= link_to('Edit', edit_guest_path(guest)) %></td>
        <td><%= link_to('X', guest, method: :delete, confirm: 'Are you sure?') %></td>
      </tr>
    <% end %>
  <% end %>
</table>

<br>

<%= link_to 'New Invitee', new_guest_path %>
