<div class="blog_wrapper">

  <div class="image_wrapper">
    <%= image_tag(blog.pic.url(:medium)) %>
  </div>

  <p class="blog_title ff_cursive"> <%= blog.title %>   <span class="blog_date"> <%= blog.created_at.strftime("%-m/%-d/%y") %> </p></p>
  <p class="blog_body"> <%= blog.body %> </p>
  <p class="blog_signature ff_cursive "> -<%= blog.guest.firstname %> </p> 
</div>








