<div class="admin_form">
  <%= form_for(@group) do |f| %>
    <% if @group.errors.any? %>
      <div id="error_explanation">
        <p><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</p>

        <ul>
        <% @group.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label "Name:" %>
      <%= f.text_field(:name, class: "lineup") %>
    </div>

    <div class="field">
      <%= f.label "Who:" %>
        <table>
          <tr><th>Name</th><th>Member?</th></tr>
          <% @guests.each do |guest| %>
            <tr>
              <td><%=label_tag guest.display_name, guest.display_name%></td>
              <td><%=check_box_tag "member[#{guest.id}]", true, @group.guests.include?(guest)%></td>
            </tr>   
          <% end %>
        </table>
    </div>
    <%= f.submit %>
  <% end %>
  <%= link_to 'Back', admin_groups_path %>
</div>
