<div class="groups admin">
  <h2 class="ff_title fc_2">Manage Groups</h2>

  <table class="admin_summary">
    <tr>
      <th>Group</th>
      <th>Member</th>
      <th colspan=2></th>
    </tr>

    <% @groups.each do |group| %>
      <tr>
        <td rowspan="<%=group.guests.count%>"> <%= group.name %></td>
        <% @guests=group.guests.order(:firstname) %>
        <% @guest1=@guests.shift %>        
        <td> <%= @guest1.display_name if @guest1%></td> 
        <td rowspan="<%=group.guests.count%>"><%= link_to 'Edit', edit_group_path(group) %></td>
        <td rowspan="<%=group.guests.count%>"><%= link_to 'X', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% @guests.each do |guest| %>
        <tr><td><%=guest.display_name%></td></tr>
      <% end %>
    <% end %>
  </table>
  </br>
  <%= link_to 'New Group', new_group_path, class: "btn btn-primary fc_3" %>

</div>