<div class="nav">
  <ul>
    <li><%= link_to 'Admin Only:', "" %> </li>
    <li><%= link_to 'Guests', admin_guests_path %> </li>
    <li><%= link_to 'Groups', admin_groups_path %> </li>
    <li><%= link_to 'Details', admin_details_path %> </li>
    <li><%= link_to 'Blogs', "" %> </li>
    <li><%= link_to 'Songs', "" %> </li>        
  </ul>
</div>





