<div class="nav ff_nav">
  <ul>
    <li class="lefta"><%= link_to 'Admin Only:', "" %> </li>
    <li><%= link_to 'Guests', admin_guests_path, class:"upper" %> </li>
    <li><%= link_to 'Groups', admin_groups_path, class:"upper" %> </li>
    <li><%= link_to 'Details', admin_details_path, class:"upper" %> </li>
    <li><%= link_to 'Blogs', admin_blogs_path, class:"upper" %> </li>        
    <li><%= link_to 'Pics', admin_photos_path, class:"upper" %> </li>
    <li><%= link_to 'Mail', admin_emails_path, class:"upper" %> </li>
  </ul>
</div>





