<div class="nav">
  <ul>
    <li><%= link_to 'Details', details_path %></li>
    <li><%= link_to 'Blog', home_path%></li> 
    <li><%= link_to 'Photos', home_path %><li>
    <li><%= link_to 'Playlist', home_path %><li>
    <li><%= link_to 'Registry', home_path %><li>      
    <li><%= link_to 'RSVP', rsvp_guests_path %></li>
  </ul>

</div>





