<div class="nav ff_nav">
  <ul>
    <li class="left" onclick='<%="modify_form_info_for(#{session_guest.id.to_s})"%>'> 
        <%= link_to session_guest.login_icon+session_guest.login_name, "javascript:void(0)"%></li>
    <li class="right"><%= link_to fa_icon("sign-out")+'Logout', logout_path, method: :delete %></li>
    <li><%= link_to fa_icon("home")+' Home',home_path %></li>
    <li><%= link_to fa_icon("info-circle")+' Info', details_path %></li>
    <li><%= link_to fa_icon("anchor")+' RI', ri_path %> </li>
    <li><%= link_to fa_icon("pencil")+' Blog', blogs_path %></li> 
    <li><%= link_to fa_icon("camera")+' Pics', photos_path %><li>  
    <li><%= link_to fa_icon("gift")+' Registry', registry_path %><li>
    <li onclick='rsvp_open_form()'><%= link_to fa_icon("envelope")+' RSVP', "javascript:void(0)"%></li>
  </ul>

</div>





