<h1> User Actions </h1>
<ul class="user_actions">
<li><%= link_to 'Modify party', modify_party_guests_path %></li>
<li><%= link_to 'Log out', logout_path, method: :delete %></li>
</ul>

<h1> Navigation </h1>
<ul class="navigation">
<li><%= link_to 'RSVP', rsvp_guests_path %></li>
<li><%= link_to 'Info', details_path %></li>
</ul>

<% if @guest.admin %>
  <h1> Admin Only </h1>
  <ul class="admin_actions">
  <li><%= link_to 'Manage Guests', admin_guests_path %> </li>
  <li><%= link_to 'Manage Groups', admin_groups_path %> </li>
  <li><%= link_to 'Manage Details', admin_details_path %> </li>
  </ul>
<% end %>