<%= javascript_tag("window.onload = function(){ modify_form_info_for(#{session_guest.id.to_s})}") if !session_guest.registered? %>

<div id="overlay_photo_display" >
  <%= render :partial => 'photos/display' %>
</div>
<div id="overlay_form_photo">
  <%= render :partial => 'photos/form' %>
</div>

<div class="home">
  <%= image_tag("splash-home.jpg", class: "img_top") %>
  <div class="hcol_lt blogs">
    <%= image_tag("banner-home-blogs.png", class:"banner_half") %>
    <% Blog.get_blogs_by_date.first.try do |blog| %>
      <%= render :partial => 'blogs/show', :locals => {:blog => blog} %>
    <% end %>
    <% Blog.get_blogs_by_date.second.try do |blog| %>   
      <%= render :partial => 'blogs/show', :locals => {:blog => blog} %>
    <% end %>
    <%= link_to 'read more...', blogs_path, class: "ff_read right"%>
  </div>

  <div class="hcol_rt photos">
    <%= image_tag("banner-home-photos.png", class:"banner_half") %>
    <% Photo.get_photos_by_date.first.try do |photo| %>
      <%= render :partial => 'photos/show', :locals => {:photo => photo} %>
    <% end %>
    <% Photo.get_photos_by_date.second.try do |photo| %>   
      <%= render :partial => 'photos/show', :locals => {:photo => photo} %>
    <% end %>
    <%= link_to 'see more...', photos_path, class: "ff_read right"%>  </div>
</div>    
