<%= javascript_tag("window.onload = function(){ modify_form_info_for(#{session_guest.id.to_s})}") if !session_guest.registered? %>

<div class="home">
  <%= image_tag("splash-home.jpg", class: "img_top") %>
  
  <div class="hcol_lt blogs">
    <h2 class="ff_title fc_2"> ~ Recent Blogs ~ </h2>
    <% Blog.get_blogs_by_date.first.try do |blog| %>
      <%= render :partial => 'blogs/show', :locals => {:blog => blog} %>
    <% end %>
    <% Blog.get_blogs_by_date.second.try do |blog| %>   
      <%= render :partial => 'blogs/show', :locals => {:blog => blog} %>
    <% end %>
    <%= link_to 'read more...', blogs_path, class: "ff_read right"%>
  </div>

  <div class="hcol_rt photos">
    <h2 class="ff_title fc_2"> ~ New Photos ~ </h2>
    <% Photo.get_photos_by_date.first.try do |photo| %>
      <%= render :partial => 'photos/show', :locals => {:photo => photo} %>
    <% end %>
    <% Photo.get_photos_by_date.second.try do |photo| %>   
      <%= render :partial => 'photos/show', :locals => {:photo => photo} %>
    <% end %>
    <%= link_to 'see more...', photos_path, class: "ff_read right"%>  </div>
</div>    
