<div class="form">
  <%= form_for(@photo) do |f| %>
    <% if @photo.errors.any? %>
      <div id="error_explanation">
        <p><%= pluralize(@photo.errors.count, "error") %> prohibited this blog from being saved:</p>
        <ul>
        <% @photo.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label "Image:" %>
      <%= f.file_field(:pic, class: "lineup") %>
    </div>
    <%= image_tag(@photo.pic.url(:medium)) if @photo.pic %>
    <div class="field">
      <%= f.label "Caption:" %>
      <%= f.text_field(:caption, class: "lineup") %>
    </div>
    <div class="field">
      <%= f.label "Date Taken:" %>
      <span class="lineup"><%= f.date_select(:when, :default => { year:2014, month:7, day:1}, :order => [:year, :month]) %> </span>
    </div>    
    <div class="field">
      <%= f.label "Who's In It:"%>
      <span class="groombox">
        <%=check_box_tag "taglist[#{@groom.id}]", true, @photo.guests.include?(@groom)%>
        <%= label_tag @groom.firstname %>
      </span>
      <span class="bridebox">
        <%=check_box_tag "taglist[#{@bride.id}]", true, @photo.guests.include?(@bride)%>
        <%= label_tag @bride.firstname %>
      </span>
    </div>
    <div class="hfield">
      <%= f.hidden_field(:poster_id, value: @poster_id) %>
    </div>

    <%= f.submit %>
  <% end %>
  <%= link_to 'Back', photos_path %>
</div>
