<div class="photos">
  <%= image_tag("splash-photos.jpg", class:"img_top") %>
  <div id="overlay_form_photo">
    <%= render :partial => 'photos/form' %>
  </div>
  <div id="overlay_photo_display" >
    <%= render :partial => 'photos/display' %>
  </div>
  <%= image_tag("banner-photos.png", class:"banner_lrg") %>

  <div class="photo_button_wrapper">
    <p> These are a few of our favorite pictures we've taken over the years. We'd love to see your favorites too! </p>
    <%= button_tag("Add to the Album", id: "new_photo_button", class: "btn btn-primary", type: "button", 
      onclick: "open_photo_form()") %>    
  </div>

  <div class="tcol_lt">
    <h3 class="ff_title fc_1 photos_header"> <%= bride.firstname %> </h3>
    <% Photo.get_photos_of(bride).each do |photo| %>
      <%= render :partial => 'show', :locals => {:photo => photo} %>
    <% end %>
  </div>

  <div class="tcol_mid">
    <h3 class="fc_1 photos_header"> <%= fa_icon("heart") %> </h3>
    <% Photo.get_photos_of(bride, groom).each do |photo| %>
      <%= render :partial => 'show', :locals => {:photo => photo} %>
    <% end %>
  </div>

  <div class="tcol_rt">
    <h3 class="ff_title fc_1 photos_header"> <%= groom.firstname %> </h3>
    <% Photo.get_photos_of(groom).each do |photo| %>
      <%= render :partial => 'show', :locals => {:photo => photo} %>
    <% end %>
  </div>

</div>

