<div class="admin_form">
  <%= form_for(@detail) do |f| %>
    <% if @detail.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@detail.errors.count, "error") %> prohibited this detail from being saved:</h2>

        <ul>
        <% @detail.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label "What:" %>
      <%= f.text_field :description %>
    </div>
    <div class="field">
      <%= f.label "When:" %>
      <%= f.time_select(:when, :default => { year:2014, month:7, day:4, hour:6, minute:0}) %>
      <%# f.datetime_select(:when, :default => { year:2014, month:7, day:4, hour:6, minute:0}) %>
    </div>

    <div class="field">
      <%= f.label "Who:" %>
      <table>
        <tr><th class="first">Group</th><th></th></tr>
        <% @groups.each do |group| %>
          <tr>
            <td><%=label_tag group.name, group.name%></td>
            <td><%=check_box_tag "group_assign[#{group.id}]", true, @detail.groups.include?(group)%></td>
          </tr>   
        <% end %>
      </table>
    </div>

    <div class="field">
      <table>
        <tr><th class="first">Guest</th><th></th></tr>
        <% @guests.each do |guest| %>
          <tr>
            <td><%=label_tag guest.display_name, guest.display_name%></td>
            <td><%=check_box_tag "guest_assign[#{guest.id}]", true, @detail.guests.include?(guest)%></td>
          </tr>   
        <% end %>
      </table>
    </div>

    <%= f.submit %>

  <% end %>
</div>






