<div class="admin_form">
  <%= form_for(@detail) do |f| %>
    <% if @detail.errors.any? %>
      <div id="error_explanation">
        <p><%= pluralize(@detail.errors.count, "error") %> prohibited this detail from being saved:</p>
        <ul>
        <% @detail.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label "What:" %>
      <%= f.text_field(:description, class: "lineup") %>
    </div>
    <div class="field">
      <%= f.label "Date:" %>
      <span class="lineup"><%= f.date_select(:when, :default => { year:2014, month:7, day:5}, :order => [:month, :day, :year]) %> </span>
    </div>
    <div class="field">
      <%= f.label "Time:" %>
      <span class="lineup"><%= f.time_select(:when, :default => { hour:5, minute:0}, minute_step: 15, ampm: true, ignore_date: true) %> </span>
    </div>

    <div class="field">
      <%= f.label "Who:" %>
      <table>
        <tr><th colspan=2>Assigned Groups</th></tr>
        <% @groups.each do |group| %>
          <tr>
            <td><%=label_tag group.name, group.name%></td>
            <td><%=check_box_tag "group_assign[#{group.id}]", true, @detail.groups.include?(group)%></td>
          </tr>   
        <% end %>
      </table>
    </div>

    <div class="field">
      <table>
        <tr><th colspan=2>Assigned Guests</th></tr>
        <% @guests.each do |guest| %>
          <tr>
            <td><%=label_tag guest.display_name, guest.display_name%></td>
            <td><%=check_box_tag "guest_assign[#{guest.id}]", true, @detail.guests.include?(guest)%></td>
          </tr>   
        <% end %>
      </table>
    </div>

    <%= f.submit %>
  <% end %>
  <%= link_to 'Back', admin_details_path %>

</div>






