<div class="details admin">
  <h2 class="ff_title fc_2">Manage Details</h2>

  <table class="admin_summary">
    <tr>
      <th>Description</th>
      <th>Date</th>
      <th>Time</th>
      <th>Groups</th>
      <th>Guests</th>
      <th colspan=2></th>
    </tr>

  <% @details.each do |detail| %>
    <tr>
      <td><%= detail.description %></td>
      <td><%= detail.when.strftime("%a %m/%d/%y") %></td>
      <td><%= detail.when.strftime("%l:%M%P") %></td>
      <td><%= truncate(detail.groups.map{|x| x.name}.join(", "),length:20) %></td>
      <td><%= truncate(detail.guests.map{|x| x.display_name}.join(", "),length:20) %></td>
      <td><%= link_to 'Edit', edit_detail_path(detail), class: "admin" %></td>
      <td><%= link_to 'X', detail, class: "admin", method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </table>

  </br>
  <%= link_to 'New Detail', new_detail_path, class: "btn btn-primary fc_3"%>
</div>