<!DOCTYPE html>
<html>
<head>
  <title>Mink Meadow</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Cedarville+Cursive|Pathway+Gothic+One' rel='stylesheet' type='text/css'>

</head>
<body>
  <%= image_tag("bg-sail.jpg", id: "bg") %> 
    <%= render "shared/header" %>
  <div class="wrapper default_width">
    
    <%= render "shared/nav" %>
    <p id="notice"><%= notice %></p>
    <p id="alert"><%= alert %></p>
    <div class="content">
      <%= yield %>
      <div class="spacer"> </div>
    </div>
  </div>  
    <div class="footer_push"> </div>
  <%= render "shared/footer" %>

</body>
</html>
