<!DOCTYPE html>
<html>
<head>
  <title>Moonrise Kingdom</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Crafty+Girls|Schoolbell|Cedarville+Cursive|Architects+Daughter|Indie+Flower|Pathway+Gothic+One' rel='stylesheet' type='text/css'>
</head>
<body>
  <%= image_tag("bg-edgepurple.jpg", id: "bg") %> 
  <div class="wrapper default_width">
    <%= render "shared/header" %>
    <%= render "shared/nav" %>
    <p id="notice"><%= notice %></p>
    <p id="alert"><%= alert %></p>
    <div class="content">
      <%= yield %>
      <div class="spacer"> </div>
    </div>
    <div class="footer_push"> </div>
  </div>  
  <%= render "shared/footer" %>

</body>
</html>
